@* LEGACY CODE DO NOT USE!!! *@
@* LEGACY CODE DO NOT USE!!! *@
@* LEGACY CODE DO NOT USE!!! *@


@*@model curve_api.Models.ViewModels.LoginViewModel

    @{
        ViewData["Title"] = "Login";
        Layout = "_layout";
    }

    <!-- Login layout taken from https://mdbootstrap.com/docs/jquery/forms/basic/ -->
    <form method="post" class="text-center border border-light p-5">

        <p class="h4 mb-4">Sign in</p>

        <!-- Email -->
        <label asp-for="Email"></label>
        <input asp-for="Email" type="email" id="defaultLoginFormEmail" class="form-control mx-auto my-4" style="width: 500px" placeholder="E-mail">

        <!-- Password -->
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" id="defaultLoginFormPassword" class="form-control mx-auto my-4" style="width: 500px" placeholder="Password">

        <!-- Sign in button -->
        <button class="btn btn-info btn-block mx-auto my-4" style="width: 350px" type="submit">Sign in</button>

        <!-- Register -->
        <p>
            Not a member?
            <a asp-action="Register">Register</a>
        </p>

    </form>*@
